/* HEADER */
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / .251);
}

/* LOGO */
.logo {
    font-size: 22px;
    font-weight: bold;
}

/* DESKTOP MENU */
.desktop-menu {
    display: flex;
    gap: 30px;
}

.link {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #222;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.link::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #d90000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.link:hover::after,
.link.active::after {
    width: 100%;
}

.link.active {
    color: #d90000;
}

/* HAMBURGER */
.hamburger {
    width: 28px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2000;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background: #222;
    transition: 0.4s;
    border-radius: 5px;
}

/* X animation */
.hamburger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* MOBILE MENU */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 320px;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.35s ease-in-out;
    overflow-y: auto;
    padding: 80px 20px 30px;
    z-index: 1500;
}

.mobile-open {
    right: 0;
}

.mobile-menu-inner {
    display: flex;
    flex-direction: column;
}

.mobile-link {
    margin-bottom: 20px;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    position: relative;
}

.mobile-link.active {
    color: #d90000;
}

/* ADDRESS SECTION */
.mobile-address {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.mobile-address h4 {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: bold;
}

.mobile-address p {
    font-size: 14px;
    line-height: 20px;
}

.mobile-contact-line {
    display: block;
    color: #d90000;
    text-decoration: none;
    margin-top: 5px;
}

/* SOCIAL ICONS */
.mobile-social {
    display: flex;
    gap: 16px;
    margin-top: 12px;
}

.mobile-social svg {
    transition: 0.3s;
}

.mobile-social svg:hover {
    transform: scale(1.15);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .mobile-menu {
        display: block;
    }
}