.students-work-section {
  background-color: #fafafa0a;
  padding: 10px 0;
  text-align: center;
  overflow: hidden;
}

.students-heading {
  font-size: 3rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#000000, #c60202);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.logo-marquee {
  position: relative;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.logo-marquee--gradient {
  background-image: linear-gradient(90deg, #ffffff16 5%, transparent 10%),
    linear-gradient(270deg, #ffffff2a 5%, transparent 10%);
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.logo-marquee--marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  position: relative;
}

.logo-marquee--marquee-group {
  display: flex;
  flex-shrink: 0;
  animation: scroll-left 35s linear infinite;
}

.logo-marquee--marquee-group.reverse {
  animation: scroll-right 35s linear infinite;
}

.logo-card {
  
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  height: 60px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 15px;
  margin-bottom: 10px;
}

.logo-card:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(198, 2, 2, 0.3);
}

.logo-card img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .logo-card {
    min-width: 120px;
    height: 70px;
    margin: 0 15px;
  }
  .logo-card img {
    height: 35px;
  }
}
